In [2]:
import numpy as np
import pandas as pd

from sktime.classifiers.shifaz.tschief import ChiefTree

In [132]:
from sktime.utils.load_data import load_from_tsfile_to_dataframe
data_path = "/data/"
archive_name ='Univariate2018_ts'
dataset_name = 'Beef'

train_file = data_path + archive_name + '/' + dataset_name + '/' +  dataset_name + '_TRAIN.ts'
test_file = data_path + archive_name + '/' + dataset_name + '/' +  dataset_name + '_TEST.ts'

train_x, train_y = load_from_tsfile_to_dataframe(train_file)
test_x, test_y = load_from_tsfile_to_dataframe(test_file)
test_x.head(10)

                                               dim_0
0  0     -0.114538
1     -0.113988
2     -0.12748...
1  0     -0.124929
1     -0.113072
2     -0.10247...
2  0     -0.072244
1     -0.069892
2     -0.05651...
3  0     -0.073526
1     -0.068417
2     -0.05367...
4  0     -0.110460
1     -0.103346
2     -0.09253...
5  0     -0.342868
1     -0.345850
2     -0.39456...
6  0     -0.253049
1     -0.258688
2     -0.26768...
7  0     -0.245858
1     -0.249768
2     -0.25620...
8  0     -0.234779
1     -0.233949
2     -0.23715...
9  0     -0.250014
1     -0.248797
2     -0.25112...

In [131]:
X = np.array([np.asarray([x]).reshape(len(x), 1) for x in train_x.iloc[:, 0]])
X[0][0][0]
train_x.head(10)

                                               dim_0
0  0     -0.362922
1     -0.365328
2     -0.38781...
1  0     -0.116280
1     -0.116428
2     -0.10543...
2  0     -0.179317
1     -0.181082
2     -0.17809...
3  0     -0.103757
1     -0.095310
2     -0.08026...
4  0     -0.208100
1     -0.196968
2     -0.17793...
5  0     -0.428019
1     -0.444407
2     -0.47502...
6  0     -0.244437
1     -0.251504
2     -0.25981...
7  0     -0.254174
1     -0.258213
2     -0.25569...
8  0     -0.275783
1     -0.279907
2     -0.28080...
9  0     -0.196107
1     -0.190572
2     -0.19034...

In [4]:

def class_indices(X, y):
    split_indices = {}
    
    for cls in np.unique(y):
        grp = np.where(y == cls)
        split_indices[cls] = grp
    
    return split_indices

class_indices(train_x, train_y)

{'1': (array([ 0,  1,  4,  5,  7,  8, 11, 12, 14, 16, 17, 19, 20, 22, 23, 24, 25,
         26, 29, 30, 33, 36, 38, 40, 41, 44, 49, 50, 54, 57, 58, 61, 62, 64],
        dtype=int64),),
 '2': (array([ 2,  3,  6,  9, 10, 13, 15, 18, 21, 27, 28, 31, 32, 34, 35, 37, 39,
         42, 43, 45, 46, 47, 48, 51, 52, 53, 55, 56, 59, 60, 63, 65, 66],
        dtype=int64),)}

In [119]:
def euclidean(a, b):
    dimension = 0
    return np.sqrt(np.sum((a[dimension]-b[dimension])**2))
    
_ = euclidean([1], [0])
_

1.0

In [133]:
def euclidean(a, b):
    dimension = 0
    return np.sum((a[dimension]-b[dimension])**2)
    
_ = euclidean(train_x.iloc[0], test_x.iloc[0])
# print(_)
# np.sum(_)
# train_x.iloc[0].shape
_

153.57489904950208

In [70]:
def split(X, y):
    split_indices = {}
    
    for cls in np.unique(y):
        grp = np.where(y == cls)
        split_indices[cls] = grp
    
    return split_indices

split(train_x, train_y)

{'1': (array([ 0,  1,  4,  5,  7,  8, 11, 12, 14, 16, 17, 19, 20, 22, 23, 24, 25,
         26, 29, 30, 33, 36, 38, 40, 41, 44, 49, 50, 54, 57, 58, 61, 62, 64],
        dtype=int64),),
 '2': (array([ 2,  3,  6,  9, 10, 13, 15, 18, 21, 27, 28, 31, 32, 34, 35, 37, 39,
         42, 43, 45, 46, 47, 48, 51, 52, 53, 55, 56, 59, 60, 63, 65, 66],
        dtype=int64),)}

In [67]:
def gini(self, y):
    if y.shape[0] == 0:
        return 0
#     print(y.shape[0])
#     print(np.unique(y, return_counts=True)[1])
#     print(np.unique(y, return_counts=True)[1] / y.shape[0])
#     print(np.power(np.unique(y, return_counts=True)[1] / y.shape[0] , 2))
#     print(np.sum(np.power(np.unique(y, return_counts=True)[1] / y.shape[0] , 2)))
    return 1 - np.sum(np.power(np.unique(y, return_counts=True)[1] / y.shape[0] , 2))

gini(None, np.array([33,37]))

0.5

In [74]:
def get_class_indices(self, X, y):
    split_indices = {}

    for cls in np.unique(y):
        grp = np.where(y == cls)
        split_indices[cls] = grp

    return split_indices
    
    
def split(self, X, y):
    cls_ind = get_class_indices(self, X, y)
    
    return cls_ind
    
    
split(None, train_x, train_y)

{'1': (array([ 0,  1,  4,  5,  7,  8, 11, 12, 14, 16, 17, 19, 20, 22, 23, 24, 25,
         26, 29, 30, 33, 36, 38, 40, 41, 44, 49, 50, 54, 57, 58, 61, 62, 64],
        dtype=int64),),
 '2': (array([ 2,  3,  6,  9, 10, 13, 15, 18, 21, 27, 28, 31, 32, 34, 35, 37, 39,
         42, 43, 45, 46, 47, 48, 51, 52, 53, 55, 56, 59, 60, 63, 65, 66],
        dtype=int64),)}

In [89]:
u, ind = np.unique(train_y, return_inverse  = True)
ind

array([0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1,
       1], dtype=int64)